<form novalidate (ngSubmit)="saveCustomer()" [formGroup]="customerForm">
  <mat-card>

    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title"> {{pageTitle}}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit"
            [disabled]='!customerForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/customers']">
            <mat-icon>cancel</mat-icon>
          </button>

        </mat-card-actions>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content style="margin: 5 0 5 10px;">

    

      <div class="form-card">
        <mat-grid-list cols="12" rowHeight="80px">
          <mat-grid-tile [colspan]="fieldColspan">
            <!-- colspan="4"> -->
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput id="name" type="text" placeholder="name (required)"
                formControlName="name" />
              <mat-error *ngIf="displayMessage.name">
                {{displayMessage.name}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Adress</mat-label>
              <input matInput id="adress" type="text" placeholder="adress (required)"
                formControlName="adress" />
              <mat-error *ngIf="displayMessage.adress">
                {{displayMessage.adress}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput id="email" type="email" placeholder="Email " formControlName="email" />
              <mat-error *ngIf="displayMessage.email">
                {{displayMessage.email}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput id="phone" type="text" placeholder="Phone" formControlName="phone" />
            </mat-form-field>
          </mat-grid-tile>
  

            <mat-grid-tile [colspan]="fieldColspan">
              <!-- <mat-form-field class="form-field" > -->
                <!-- <mat-label>Membership</mat-label> -->
                <mat-slide-toggle id="membership" formControlName="membership">Membership</mat-slide-toggle>
                <!-- </mat-form-field> -->
          </mat-grid-tile>
       

        </mat-grid-list>

      </div>


    </mat-card-content>

  </mat-card>
</form>
